/*classes stylings in order from top to bottom*/

.header {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    background-color: #0047b3;

}

.explaination-header {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 5px;
    text-align: center;
}

.information {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 10px;
    flex: 1 0 auto;
    display: none;
}

.button {
    display: flex;
    background-color: #4994ff;
    text-align: center;
    color: #fff;
    padding: 10px;
}

.location-header {
    padding-bottom: 20px;
    border-top: solid black 2px;
}

.location-header p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: solid black 2px;
    background-color: #4994ff;
}

.list {
    background-image: url('/images/football.jpg');
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
}

.graph-header p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 26px;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: solid black 2px;
    border-top: solid black 2px;
    background-color: #4994ff;
}

.stacked-chart-info-label {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    padding: 20px;
}

.chart-label p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}


/* All the H stylings*/

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    text-align: center;
    color: white;
    padding: 10px;
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: solid black 2px;
    border-top: solid black 2px;
    background-color: #4994ff;
}

h3 {
    font-family: 'Rubik', sans-serif;
    padding-left: 15px;
    text-decoration: underline;
}

/*map*/

div#map {
    min-height: 360px;
}

/*team selector*/

#team-selector {
    padding: 28px;
    font-size: 18px;
}

/*graph stylings*/

#cch-pla-uni-stx-chart {
    padding-left: 60px;
}

#cch-pla-uni-stx-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
    font-size: 10px;
}

#trd-frl-own-chart {
    padding-left: 60px;
}

#trd-frl-own-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
    font-size: 10px;
}

#BWG-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
    font-size: 10px;
}

#FUT-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
    font-size: 10px;
}

#BNG-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
    font-size: 10px;
}

#AFF-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
    font-size: 10px;
}

#BMK-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
    font-size: 10px;

}

#SMK-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
    font-size: 10px;
}



/*section {
    background-image: url('/images/field-background.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
   min-height: 100%;
    min-width: 100%;
    background-position: center;
    background-size: cover;
}*/

/*form and results styling*/

form {
    padding: 5px 3%;
    box-sizing: border-box;
    border: 3px dotted #000000;
}

#poll {
    font-size: 18px;
    color: black;
    text-shadow: 1px 2px #4994ff;
    background: url(/images/football-700x416.jpg) no-repeat center;
    min-height: 100%;
    min-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

table {
    padding: 5px 3%;
    box-sizing: border-box;
    border: 3px dotted #000000;
    background: url(/images/football-700x416.jpg) no-repeat center;
    min-height: 100%;
    min-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

tr {
    font-size: 18px;
    color: black;
    text-shadow: 1px 2px #4994ff;
}

td {
    padding-left: 50px;
}

input {
    float: left;
    margin-top: 5px;

}
