/*classes stylings in order from top to bottom*/

.header {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    background-color: #0047b3;
    margin: -22px;
}

.instructions {
    background-color: #4994ff;
    margin: -10px;
}

.instructions p {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    padding: 10px;
}

.location-header {
    background-color: #80b3ff;
    border-top: solid black 2px;
}

.list {
    background-image: url('/images/football.jpg');
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
}

.graph-header {
    background-color: #4994ff;
    margin: -10px;
}


/* All the H stylings*/

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    text-align: center;
    color: white;
    padding: 10px;
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: solid black 2px;

}

h3 {
    font-family: 'Rubik', sans-serif;
    padding-left: 15px;
}

/*map*/

div#map {
    min-height: 360px;
}

/*team selector*/

#team-selector {
    padding: 20px;
    font-size: 18px;
}

/*graph stylings*/

#cch-pla-uni-stx-chart {
    padding-left: 60px;
}


#cch-pla-uni-stx-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
    font-size: 10px;
}


#trd-frl-own-chart{
    padding-left: 60px;
}

#trd-frl-own-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
    font-size: 10px;
}

#BWG-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
    font-size: 10px;
}

#FUT-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
    font-size: 10px;
}

#BNG-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
    font-size: 10px;
}

#AFF-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
    font-size: 10px;
}

#BMK-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
    font-size: 10px;

}

#SMK-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
    font-size: 10px;
}



/*section {
    background-image: url('/images/field-background.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
   min-height: 100%;
    min-width: 100%;
    background-position: center;
    background-size: cover;
}*/
